* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(238, 99, 6);
    text-align: center;
    padding: 1.5rem;
    color: white;
}

.header input,
.header button {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    padding: 0.2rem;
}

.header input {
    width: 60%;
}

.header button {
    width: 20%;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
    transition: 0.3s;
}

ul li {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    /* background-color: #EAEFEF; */
    /* box-shadow: 0 0 2px 2px rgb(140, 137, 137); */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background-color: gainsboro;
}

ul li:hover {
    background-color: darkgray;
}

ul li.checked {
    background-color: darkgray;
    text-decoration: line-through;
    color: white;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 0.8rem;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgb(238, 99, 6);
    color: white;
  }